body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #100f0f; /* Set background color */
    color: #878580; /* Set text color */
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.link-list {
    list-style-type: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
}

.link-list li a {
    color: #cecdc3; /* Set link color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for color change */
}

.link-list li a:hover {
    color: #52b1a8; /* Set link color on hover */
    text-decoration: underline;
}
